extends layout

block content
  h1 Signup
  if message
    p(style='color:red')!= message
  div(class=container)
    form(method='POST' action='')
      div.form-group
        label(for='name') Full Name:
        input#name.form-control(type='text' placeholder='name' name='name' required='true')
        label(for='email') email:
        input#email.form-control(type='text' placeholder='email' name='email' required='true')
        label(for='password') password:
        input#password.form-control(type='password' placeholder='password' name='password' required='true')

      button.btn.btn-primary(type='submit') Signup
  if errors
    ul
      for error in errors
        li!= error.msg
